/* bulma */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
/* bulma */

.app {
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/dit0fii18/image/upload/v1652679502/samples/backgrounds/vintage-textured-paper-background-vector_resized_ex6h4g.jpg");
}

.submit-btn {
  width: fit-content;
  margin: auto;
}
.auth-form {
  width: 50%;
  margin: auto;
}

.signup,
.login {
  padding-top: 5rem;
}

.navbar-brand {
  font-weight: bold !important;
}

.nav-brand {
  font-weight: normal !important;
}

.notification {
  width: fit-content !important;
  position: fixed !important;
  bottom: 1rem !important;
  right: 1rem !important;
  z-index: 99 !important;
  opacity: 0.9 !important;
}

.box,
.card,
.navbar {
  background-color: whitesmoke !important;
  opacity: 0.85 !important;
}

.divider {
  background-color: gray;
}
