<!-- inherit from base template -->
{% extends 'base.html' %}
<!-- inherit from base template -->

<!-- page title -->
{% block title %} Home {% endblock %}
<!-- page title -->

<!-- app content -->
{% block app %}
<!-- app goes here -->
<div class="home">
  <section class="hero is-large">
    <div class="hero-body">
      <div class="box">
        <p class="title">Student Performance Analizer (SPA)</p>
        <p class="subtitle">Made using python(Flask)</p>
      </div>
    </div>
  </section>
</div>
<!-- app goes here -->
{% endblock %}
<!-- app content -->
